.lotus{
  height: 100%;
  width: 100%;

  .search {
    position: relative;
    top:  60px;
    left: 32%;
    height: 44px;
    width: 40%;
    min-width: 340px;
    max-width: 560px;

    .search-wrap{
      width: 100%;
      margin-left: 8px;
      margin-bottom: 5px;
      .search-form{
        width: 82%;
        min-width: 270px;
        .form-field{
          width: 100%;
        }

      }
    }
  }
  .miner-list{
    position: relative;
    top: 120px;
    left: 15%;
    width: 66%;
    min-width: 500px;
    box-shadow: -2px 0px 3px 1px rgba( 64, 64, 64, .2), 2px 0px 3px 1px rgba( 64, 64, 64, .2);
    .panel-title{
      margin-right: 12px;
      color: #0304B8;
    }
    .panel-description{
      color: #B804B6;
      margin-right: 12px;
    }
    .miner-detail{
      position: relative;
      top: 10px;
      width: 100%;
      left: 12px;
      margin-bottom: 12px;
      .detail-item{
        position: relative;
        width: 100%;
        left: 10%;
        margin-top: 18px;
        .item-title{
          color: #20A7B8;
          .mat-badge-content, .mat-badge-active{
            position: absolute;
            left: -28px;
            top: -2px;
          }
        }
        .item-indentation{
          position: relative;
          left: 28px;
          .item-indentation-style{
            color: #41B81B;
          }
          .warn{
            margin-top: 0;
            color: #B80000
          }
        }
      }
    }
  }
  .work-list{
    position: relative;
    top: 280px;
    left: 15%;
    width: 66%;
    min-width: 560px;
    margin-bottom: 80px;
    .work-list-title{
      font-weight: 900;
      display: inline-block;
      color: #0304B8;
      margin-bottom: 3px;
    }
    .list-wrap{
      .w-list-item{
        position: relative;
        width: 94%;
        left: 38px;
        .w-item-href{
          display: flex;
          width: 100%;
          text-decoration: none;
          .item-href-1{
            width: 100%;
            margin-right: 80px;
          }
        }
      }
      .w-list-item:hover{
        background-color: #e8e8e8;
      }
    }
  }
}
.badge{
  .mat-badge-content, .mat-badge-active{
    position: relative;
    top: 0;
    left: 0;
  }
}
.inline-show{
  display: inline-block;
  width: 100%;
}
